apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cta-hpa
  namespace: cta-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cta-deployment
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
